<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SERVLogin</servlet-name>
        <servlet-class>controlador.SERVLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVCliente</servlet-name>
        <servlet-class>controlador.SERVCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVEncomienda</servlet-name>
        <servlet-class>controlador.SERVEncomienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVTipoEncomienda</servlet-name>
        <servlet-class>controlador.SERVTipoEncomienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVVehiculo</servlet-name>
        <servlet-class>controlador.SERVVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVPedido</servlet-name>
        <servlet-class>controlador.SERVPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVLugar</servlet-name>
        <servlet-class>controlador.SERVLugar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVLocal</servlet-name>
        <servlet-class>controlador.SERVLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVConductor</servlet-name>
        <servlet-class>controlador.SERVConductor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVVerificar</servlet-name>
        <servlet-class>controlador.SERVVerificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVPromocion</servlet-name>
        <servlet-class>controlador.SERVPromocion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVEnvio</servlet-name>
        <servlet-class>controlador.SERVEnvio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVEncomienda2</servlet-name>
        <servlet-class>controlador.SERVEncomienda2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SERVCliente2</servlet-name>
        <servlet-class>controlador.SERVCliente2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EJEMPLO</servlet-name>
        <servlet-class>controlador.EJEMPLO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SERVLogin</servlet-name>
        <url-pattern>/SERVLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVCliente</servlet-name>
        <url-pattern>/SERVCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVEncomienda</servlet-name>
        <url-pattern>/SERVEncomienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVTipoEncomienda</servlet-name>
        <url-pattern>/SERVTipoEncomienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVVehiculo</servlet-name>
        <url-pattern>/SERVVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVPedido</servlet-name>
        <url-pattern>/SERVPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVLugar</servlet-name>
        <url-pattern>/SERVLugar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVLocal</servlet-name>
        <url-pattern>/SERVLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVConductor</servlet-name>
        <url-pattern>/SERVConductor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVVerificar</servlet-name>
        <url-pattern>/SERVVerificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVPromocion</servlet-name>
        <url-pattern>/SERVPromocion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVEnvio</servlet-name>
        <url-pattern>/SERVEnvio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVEncomienda2</servlet-name>
        <url-pattern>/SERVEncomienda2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SERVCliente2</servlet-name>
        <url-pattern>/SERVCliente2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EJEMPLO</servlet-name>
        <url-pattern>/EJEMPLO</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
